#farm1 {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(../img/farm/farm1/farm1_bg.png);
} 

#farm1 .leftRice1 {
    position: absolute;
    width: 390px;
    height: 670px;
    background-image: url(../img/farm/farm1/leftrice.png);
}

#farm1 .farmer {
    position: absolute;
    width: 747px;
    height: 1078px;
    background-image: url(../img/farm/farm1/farmer.png);
    left: 50%;
    margin-left: -310px;
}

#farm1 .rightRice1 {
    position: absolute;
    width: 335px;
    height: 570px;
    background-image: url(../img/farm/farm1/rightrice.png);
    right: 0;
    margin-top: 100px;
}

#farm1 .farmSpeechWrap {
    position: relative;
    top: 250px;
    left: 150px;
}

#farm1 .farmSpeechWrap .farmSpeech {
    color: #895C2F;
    font-size: 18px;
    line-height: 27px;
}