#night1 {
    width: 100%;
    height: 700px;
    background-image: url(../img/oneday/night1/night1_bg.png);
}

#night1 .owl {
    position: absolute;
    width: 334px;
    height: 571px;
    background-image: url(../img/oneday/night1/owl.png);
    margin-top: 50px;
}

#night1 .starWrap {
    position: relative;
    width: 750px;
    height: 400px;
    top: 150px;
    margin-left: 600px;
}

#night1 .starWrap .star1,
#night1 .starWrap .star2,
#night1 .starWrap .star3 {
    position: absolute;
    width: 53px;
    height: 50px;
    background-image: url(../img/oneday/night1/star1.png);
}

#night1 .starWrap .star1 {
    margin-top: 350px;
}

#night1 .starWrap .star2 {
    margin-left: 650px;
}

#night1 .starWrap .star3 {
   margin: 250px 0 0 500px;
}