#forest2 {
    width: 100%;
    height: 750px;
    background-image: url(../img/forest/forest2/forest2_bg.png);
}

#forest2 .frog {
    position: absolute;
    width: 153px;
    height: 257px;
    background-image: url(../img/forest/forest2/frog.png);
    margin: 50px 0 0 100px;
}

#forest2 .machineWrap2 {
    position: relative;
    width: 400px;
    height: 400px;
    top: 180px;
    left: 50%;
    margin-left: -180px;
}

#forest2 .machineWrap2 .machineBottom{
    position: absolute;
    width: 374px;
    height: 162px;
    background-image: url(../img/forest/forest2/machinebottom.png);
    margin-top: 220px;
    z-index: 200;
}

#forest2 .machineWrap2 .machineLeft{
    position: absolute;
    width: 123px;
    height: 228px;
    background-image: url(../img/forest/forest2/machineleft.png);
    margin-top: 30px;
    z-index: 200;
}

#forest2 .machineWrap2 .machineRight{
    position: absolute;
    width: 123px;
    height: 248px;
    background-image: url(../img/forest/forest2/machineright.png);
    margin: 10px 0 0 260px;
    z-index: 200;
}

#forest2 .forestBubble {
    position: relative;
    width: 365px;
    height: 220px;
    background-image: url(../img/forest/forest2/forestbubble.png);
    float: right;
    top: -100px;
    margin-right: 100px;
}

#forest2 .forest2Tree {
    position: absolute;
    width: 304px;
    height: 282px;
    background-image: url(../img/forest/forest2/forest2tree.png);
    margin-top: 50px;
    left: 0;
}