#color2 {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(../img/color/color2/color2_bg.png);
}

#color2 .horse {
    float: right;
    width: 188px;
    height: 241px;
    background-image: url(../img/color/color2/horse.png);
    margin: 100px 100px 0 0;
}

#color2 .color2Wrap {
    clear: both;
    position: relative;
    width: 500px;
    top: 100px;
    margin-left: 50px;
}

#color2 .color2Wrap .color2Bubble {
    margin-bottom: 30px;
}

#color2 .color2Wrap .btn-wrap {
    margin-bottom: 20px;
}

#color2 .color2Wrap .btn-wrap .red,
#color2 .color2Wrap .btn-wrap .yellow,
#color2 .color2Wrap .btn-wrap .blue {
    width: 59px; 
    height: 82px;
}

#color2 .color2Wrap .btn-wrap .red {
    background-image: url(../img/color/color2/btn/btn_red.png);
}

#color2 .color2Wrap .btn-wrap .yellow {
    background-image: url(../img/color/color2/btn/btn_yellow.png);
}

#color2 .color2Wrap .btn-wrap .blue {
    background-image: url(../img/color/color2/btn/btn_blue.png);
}

#color2 .color2Wrap .color2Comment {
    color: #8E7577;
}