#color3 {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(../img/color/color3/color3_bg.png);
}

#color3 .flag {
    position: relative;
    width: 1774px;
    height: 178px;
    background-image: url(../img/color/color3/flag.png);
    left: 50%;
    margin-left: -887px;
}

#color3 .book {
    float: right;
    width: 417px;
    height: 178px;
    background-image: url(../img/color/color3/book.png);
}

#color3 .logo {
    position: absolute;
    left: 50%;
    margin-left: -378.5px;
}

#color3 .dice {
    position: absolute;
    width: 239px;
    height: 200px;
    background-image: url(../img/color/color3/dice.png);
    left: 0;
    bottom: 0;
}